html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url('../images/denim.png');
  color: #fff;
}

/* 全体共通 */
.flex {
  display: flex;
}
.bold {
  margin: 0;
  font-weight: 600;
}
a {
  color: #0ad;
}
.border {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4vh;
  border: solid 1px #000;
}

/* TOP */
#top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-title {
  font-size: 8vw;
  margin: 0;
  font-family: 'Nanum Gothic Coding', monospace;
}
.top-subtitle {
  font-size: 2vw;
  margin: 0;
  color: #ccc;
  font-family: 'Edu TAS Beginner', cursive;
}

/* About */
#about {
  height: 100vh;
}
.about-content {
  width: 70vw;
  height: 60vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 1vw;
  background-color: rgba(0, 0, 0, 0.4);
}
.about-title {
  text-align: center;
  font-size: 3vw;
  padding-top: 5vh;
}
.about-text {
  margin-left: 5vw;
}
.about-img {
  width: 20vw;
}
.about-img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.name-ja {
  font-size: 2vw;
  margin: 0;
}
.name-en {
  font-size: 1vw;
  margin: 0;
  color: #ccc;
}
.about-p {
  font-size: 1.2vw;
}
.about-label {
  display: inline-block;
  width: 10vw;
}

/* SKILL */
#skill {
  height: 100vh;
}
.skill-title {
  text-align: center;
  font-size: 3vw;
  padding-top: 5vh;
}
.skill-table {
  width: 70vw;
  border-collapse: collapse;
  border: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
}
.td,
.tr,
.th {
  width: 30vw;
  padding: 1vw;
  font-size: 1vw;
}
.th {
  font-size: 1.3vw;
  font-weight: 500;
  background-color: rgba(5, 5, 5, 0.5);
}

/* WORKS */
#works {
  min-height: 95vh;
}
.works-title {
  text-align: center;
  font-size: 3vw;
  padding-top: 5vh;
}
.work-contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.work-content {
  width: 45vw;
  height: 50vh;
  margin: 5vh 0;
  background-color: #fff;
  border-radius: 2vw;
  box-shadow: 0.2vw 0.2vw 5px #888;
  color: #000;
}
.work-item {
  justify-content: space-around;
  align-items: center;
}
.item-title {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 1vh;
}
.work-img {
  width: 45%;
  height: auto;
}
.work-img > img {
  width: 100%;
  height: 100%;
}
.work-text {
  width: 50%;
  font-size: 0.9vw;
}
.work-text > p {
  margin-top: 0;
}
