body {
  margin: 0;
}

/* TOP画面 */
#top {
  height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/denim.png');
}
.top-title {
  font-size: 8vw;
  margin: 0;
  color: #fff;
  font-family: 'Nanum Gothic Coding', monospace;
}
.top-subtitle {
  font-size: 2vw;
  margin: 0;
  color: #ccc;
  font-family: 'Edu TAS Beginner', cursive;
}
